.backdrop {
  position: fixed; /* sobrepõe à página */
  top: 0;
  left: 0;
  width: 100vw; /* vw e vh são relativos ao viewport, posicionamento responsivo */
  height: 100vw;
  background: rgba(0, 0, 0, 0.75);
  z-index: 50; /* define a prioridade no eixo z, vai aparecer abaixo de alert-box */
}

.alert-box {
  position: fixed;
  top: 30vh;
  left: 20vw;
  width: 60vw;
  padding: 16px;
  z-index: 100;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26); /* dar efeito de sombra */
}

.alert-box-actions {
  text-align: right; /* botão fica alinhado à direita */
}